@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html,
  body {
    overflow-x: hidden;
    width: 100%;
  }
}

@font-face {
  font-family: "regular";
  src: url("/fonts/Audiowide/Audiowide-Regular.ttf") format("truetype");
}

.link {
  @apply text-blue-800 hover:underline;
}
